body {
    background: darkslategrey;
    color: darkslategrey;
    margin: 0;
    bottom: #bb7647;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium','Arial Narrow Bold', sans-serif;
    
}
#div {
    background-color: #bb7647;
}
