body {
    background: darkslategrey;
    color: #bb7647;
    margin: 0;
    height: 200vh;
    bottom: #bb7647;
    font-size: large;
    font-family: 'Franklin Gothic Medium','Arial Narrow Bold', sans-serif;
    
}
