body {
    background: darkslategrey;
    color: #bb7647;
    margin: 0;
    bottom: #bb7647;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium','Arial Narrow Bold', sans-serif;
    
}
#div {
    background: #242424;
    color: #c7bdbd;
    margin: bottom;
}
